<section ng-controller="ExampleController">

    <form data-ng-submit="done()" novalidate>

        <input type="text" id="enterName" ng-model="enterName" placeholder="Name" required>
        <input type="text" id="enterText" ng-model="enterText" placeholder="Message" required>
        <input type="submit" value="Done">


    </form>

    <h1>Users:</h1>
    <div data-ng-repeat="user in show">

        Name:<small data-ng-bind="user.name"></small><br/> Message:
        <small data-ng-bind="user.data"></small><br/> Date:
        <small data-ng-bind="user.created"></small><br/><br/>


    </div>



</section>